* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-card {
    background-color: rgb(160, 160, 160);
    transition: ease 0.3s box-shadow;
    width: 60%;
    height: 70%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-card:hover {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);;
}